/*Estimated Tax Liabilities*/

.itvc-table td {
     font-size: inherit;
 }

.no-border-bottom td {
    border-bottom: 0px;
}

.summary-data {
    text-align: right !important;
 }

.total-section td {
    font-weight: 700;
}

.icon-min-height {
    min-height: 35px;
}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}
