<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/income-tax-view-change-frontend.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%.-4level]  %date{ISO8601} %class{0}#%M:%line %message %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%.-4level]  %date{ISO8601} %class{0}#%M:%line %message %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="CONNECTOR_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/connector.log</file>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <logger name="com.google.inject" level="OFF"/>

    <logger name="org.asynchttpclient.netty" level="OFF"/>
    <logger name="io.netty.buffer" level="OFF"/>
    <logger name="play.core.netty" level="OFF"/>

    <logger name="uk.gov" level="OFF"/>

    <logger name="application" level="ERROR"/>          // change to DEBUG or INFO for more logs

    <logger name="auth" level="ERROR"/>                 // change to DEBUG or INFO for more logs

    <logger name="controllers" level="ERROR"/>          // change to DEBUG or INFO for more logs

    <logger name="connector" level="ERROR">             // change to DEBUG or INFO for more logs
        <appender-ref ref="STDOUT"/>
    </logger>


    <root level="INFO">     // change to DEBUG or INFO for more logs
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
