<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/income-tax-view-change-frontend.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/income-tax-view-change-frontend-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] message=[%class{0}#%M:%line - %message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] rid=[%X{X-Request-ID}] user=[%X{Authorization}] message=[%class{0}#%M:%line - %message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="CONNECTOR_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/connector.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeBasedRollingPolicy">
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <logger name="application" level="INFO"/>
    <logger name="com.google.inject" level="INFO"/>
    <logger name="org.asynchttpclient.netty" level="INFO"/>
    <logger name="uk.gov.hmrc.play.bootstrap.audit" level="INFO"/>
    <logger name="uk.gov.hmrc.audit" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="play.core.netty.testUtils.ServerCookieDecoder" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
