<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender for test logging -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%.-4level] [%thread] %date{ISO8601} %class{0}#%M:%line - %message %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <!-- Set log levels to INFO for critical loggers, DEBUG for root -->
    <logger name="application" level="INFO"/>
    <logger name="auth" level="INFO"/>
    <logger name="controllers" level="INFO"/>

    <!-- Root logger set to DEBUG for detailed test logs -->
<!--    <root level="DEBUG">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </root>-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
