@import config.FrontendAppConfig
@import views.html.helpers.injected.BetaBanner
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._
@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import uk.gov.hmrc.hmrcfrontend.views.html.components.{Header => HmrcHeaderArgs}
@import uk.gov.hmrc.play.views.html.helpers.ReportAProblemLink
@this(
    appConfig: config.FrontendAppConfig,
    reportAProblemLink: ReportAProblemLink,
    hmrcBanner: HmrcBanner,
    govukBackLink: GovukBackLink,
    govukLayout: GovukLayout,
    hmrcHeader:  HmrcHeader,
    phaseBanner: components.phaseBanner,
    footerLinks: HmrcStandardFooter,
    hmrcTimeoutDialog: HmrcTimeoutDialog,
    hmrcTrackingConsentSnippet: HmrcTrackingConsentSnippet,
    backLink: components.back_link,
    languageSelection: components.languageSelection
)

@(pageTitle: String, backUrl: Option[String] = None, signOutLink: Boolean = true, timeout: Boolean = true)(contentBlock: Html)(implicit request : Request[_], messages: Messages)

@siteHeader = {
    @hmrcHeader(HmrcHeaderArgs(
        homepageUrl = controllers.routes.HomeController.home.url,
        serviceName = Some(messages("base.service_name")),
        serviceUrl = controllers.routes.HomeController.home.url,
        containerClasses = "govuk-width-container",
        signOutHref = Some(controllers.routes.SignOutController.signOut.url)
    ))
}

@hmrcTrackingConsentSnippet()

@head = {
<!--[if lte IE 8]><link href=' @controllers.routes.Assets.at("stylesheets/application-ie-8.css")' rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--> <link href='@controllers.routes.Assets.at("stylesheets/application.css")' media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
    @if(timeout) {
        @hmrcTimeoutDialog(TimeoutDialog(
            language = Some("en"),
            timeout = Option(900),
            countdown = Option(120),
            keepAliveUrl = Some("@controllers.timeout.routes.SessionTimeoutController.keepAlive().url"),
            signOutUrl = Some(controllers.routes.SignOutController.signOut.url),
            keepAliveButtonText = Some(messages("button.continue"))
        ))
    }
}

@getHelpForm = @{reportAProblemLink(appConfig.reportAProblemPartialUrl, appConfig.reportAProblemNonJSUrl)}

@beforeContentBlock = {
    @phaseBanner("beta")
    @hmrcBanner(Banner(if(messages.lang.code == "cy") {Cy} else {En}))
    <div class="nav-bar-wrapper">
    @languageSelection()
    @backUrl.map(backLink(_))
    </div>
}

@scripts = {
<script src='@controllers.routes.Assets.at("lib/govuk-frontend/govuk/all.js")'></script>
<script src='@controllers.routes.Assets.at("lib/hmrc-frontend/hmrc/all.js")'></script>
<script>window.GOVUKFrontend.initAll();
    window.HMRCFrontend.initAll()</script>

}

@content = {
<div class="govuk-!-margin-bottom-6">
    @contentBlock
</div>

<div class="govuk-body app-get-help-link">
    <a lang="en" hreflang="en" class="govuk-link" target="_blank" href="@{appConfig.reportAProblemNonJSUrl}">
        @messages("getpagehelp.linkText")
    </a>
</div>

}

@govukLayout(
    pageTitle = Some(pageTitle),
    headBlock = Some(head),
    beforeContentBlock = Some(beforeContentBlock),
    bodyEndBlock = None,
    headerBlock = Some(siteHeader),
    footerBlock = Some(footerLinks()),
    scriptsBlock = Some(scripts)
)(content)
