
$govuk-assets-path: "/report-quarterly/income-and-expenses/view/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/report-quarterly/income-and-expenses/view/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.govuk-table__cell {
  vertical-align: middle;
}

.hmrc-account-menu {
  border-top: 1px solid #b1b4b6;
}

.nav-bar-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .govuk-back-link {
    margin-top: 30px;
    margin-bottom: 0px;
  }

}

.client-utr{
  font-weight: bold;
  }

#amount-due{
   white-space:nowrap;
}

#balancing-charge{
    margin:0px;
}

#pre-mtd-digital{
    margin:0px;
}


