
$govuk-assets-path: "/report-quarterly/income-and-expenses/view/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/report-quarterly/income-and-expenses/view/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.nav-bar-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .govuk-back-link {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}
