
@import forms.optIn.ChooseTaxYearForm
@import models.optin.ChooseTaxYearViewModel
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import views.html.components._
@import views.html.helpers.injected.ErrorSummary
@import views.html.layouts.unifiedLayout

@this(
        mainTemplate: unifiedLayout,
        formWithCSRF: FormWithCSRF,
        govukRadios: GovukRadios,
        govukButton: GovukButton,
        errorSummary: ErrorSummary,
        h1: h1,
        h2: h2,
        p: p,
        link: link,
        hr: hr,
        govukTable: GovukTable,
        govukInsetText: GovukInsetText,
)
@(form: Form[ChooseTaxYearForm], model: ChooseTaxYearViewModel)(implicit messages: Messages, user: auth.MtdItUser[_])

@confirmOptInPostUrl = @{
    controllers.optIn.routes.ChooseYearController.submit(model.isAgent)
}

@formBlock = {
    @formWithCSRF(action = confirmOptInPostUrl, Symbol("id") -> "confirm-multi-year-opt-in-form") {
        @govukRadios(Radios(
            fieldset = Some(Fieldset(
                legend = Some(Legend(
                    content = Text(messages("optin.chooseOptInTaxYear.whichTaxYear")),
                    classes = "govuk-fieldset__legend--m"
                )),
                attributes = Map("id" -> "whichTaxYear")
            )),
            items = model.availableOptInTaxYear.zipWithIndex.map { case (optOutTaxYear, index) =>
                RadioItem(
                    id = Some(s"choice-year-$index"),
                    value = Some(optOutTaxYear.toString),
                    content = Text(messages("optin.chooseOptInTaxYear.taxYearOnwards", s"${optOutTaxYear.startYear}", s"${optOutTaxYear.endYear}"))
                )
            },
            errorMessage = form.errors.headOption.map(err => ErrorMessage(content = Text(messages(err.message, err.args:_*))))
        ).withFormField(form(ChooseTaxYearForm.choiceField)))

        <div class="govuk-button-group">
            @govukButton(Button(
                content = Text(messages("optin.chooseOptInTaxYear.continue")),
                attributes = Map("id" -> "continue-button")
            ))
            <a class="govuk-link" id="cancel-button" href=@model.cancelURL>
            @messages("optin.confirmOptIn.cancel")
            </a>
        </div>
    }
}

@mainTemplate(
    pageTitle = messages("optin.chooseOptInTaxYear.heading"),
    backUrl = Some("#"),
    isAgent = model.isAgent,
    btaNavPartial = user.btaNavPartial,
    useFallbackBackLink = true
    ) {

    @errorSummary(form = form)

    @h1(id = Some("heading"), msg = messages("optin.chooseOptInTaxYear.heading"), classes = "govuk-heading-l")

    <div class="govuk-!-margin-bottom-7 ">
        @p(id=Some("description1")) {
            @messages("optin.chooseOptInTaxYear.desc1")
        }
    </div>

    @formBlock

}